.logo {
	width: 70px;
	padding: 0em;
	text-align: left;
}
.okatok-nav{
	text-align: right;
}
.hero{
	width: 100%;
	padding: 0;
}
body{
	margin: 2 auto;
}
.specials section {
	display: inline-block;
	width: 250px;
	padding: 15px;
}
.specials {
	text-align: center;
}
img {
	max-width: 100%;
}
.background {
background-image: url("../blackboard.jpg");
background-attachment: fixed;
}
.specials h2:hover {
	color: lightblue;
}
.specials h1:hover {
	color: #E9E8FF;
}
body {
	font-family: calibri light, sans-serif;
	text-align: center;
}
a{
	color: white;
}
.offer-banner {
	display: inline-block;
	background-color: #A90A00;
	width: 100%;
}